</main>
<footer>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const pricesWs = new WebSocket('wss://ws.coincap.io/prices?assets=ALL')
    pricesWs.onmessage = (msg) => {
        const data = JSON.parse(msg.data);
        const cryptoUsdPrice = document.querySelector('#crypto_usd_price');
        if (cryptoUsdPrice && data[cryptoUsdPrice.dataset.name]) {
            cryptoUsdPrice.innerHTML = data[cryptoUsdPrice.dataset.name];
        }
    }
</script>
</body>

</html>